<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929582155739-ocdnmk6qqg3gc98sneg5tfkohh0iuim9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929582155739-ocdnmk6qqg3gc98sneg5tfkohh0iuim9</string>
	<key>API_KEY</key>
	<string>AIzaSyD_j9tnw7hRa_Ea_DHQDGMENNkkNdE-27Y</string>
	<key>GCM_SENDER_ID</key>
	<string>929582155739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icloud.tktaaa1124.chatbot</string>
	<key>PROJECT_ID</key>
	<string>chatbotfirebase-6a5a6</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbotfirebase-6a5a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929582155739:ios:81b356d3f189826ea609fe</string>
</dict>
</plist>